/* index - hero section */
.hero {
  position: relative;
  width: 100%;
  height: 100svh;
  padding: 1rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

.hero .hero-container {
  position: relative;
  width: 100%;
  height: 100%;
  filter: url("#goo");
}

.hero .hero-container .hero-img-container {
  position: relative;
  width: 100%;
  height: 100%;
  background-color: var(--base-300);
  clip-path: polygon(
    4rem 0px,

    calc(50% - 15rem) 0px,
    calc(50% - 13.5rem) 2.75rem,
    calc(50% + 13.5rem) 2.75rem,
    calc(50% + 15rem) 0px,

    calc(100% - 4rem) 0px,
    100% 4rem,

    100% calc(100% - 4rem),
    calc(100% - 4rem) 100%,

    4rem 100%,
    0px calc(100% - 4rem),
    0px 4rem
  );
}

.hero .hero-container .hero-img-container .hero-img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.hero .hero-container .hero-img-container .hero-img img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.hero .hero-container .hero-img-container .hero-img-overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(
    rgb(242 238 218 / 0.125),
    rgb(242 238 218 / 0.125) 4px,
    transparent 4px,
    transparent 10px
  );
  background-size: 100% 9px;
  filter: blur(2px);
  animation: pan-overlay 30s infinite linear;
  z-index: 1;
}

@keyframes pan-overlay {
  from {
    background-position: 0% 0%;
  }

  to {
    background-position: 0% -100%;
  }
}

.hero .hero-container .hero-img-container .hero-img-gradient {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgb(0, 0, 0);
  background: linear-gradient(
    0deg,
    rgba(0, 0, 0, 0.65) 0%,
    rgba(0, 0, 0, 0) 100%
  );
  z-index: 1;
}

.hero .hero-container .hero-content {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
}

.hero .hero-container .hero-content .container {
  padding: 6rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
}

.hero .hero-container .hero-content .container .hero-content-nav {
  width: 100%;
  display: flex;
  align-items: flex-end;
}

.hero
  .hero-container
  .hero-content
  .container
  .hero-content-nav
  div:nth-child(1) {
  flex: 4;
}

.hero
  .hero-container
  .hero-content
  .container
  .hero-content-nav
  div:nth-child(2) {
  flex: 1;
}

.hero .hero-container .hero-content .container .hero-content-nav .hero-timer {
  opacity: 0;
  will-change: opacity;
}

.hero .hero-container .hero-content .container .hero-content-nav .hero-timer p {
  width: 10rem;
  height: 2rem;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(242, 238, 218, 0.05);
  border: 1px solid rgba(242, 238, 218, 0.15);
  border-radius: 0.25rem;
  backdrop-filter: blur(0.2rem);
}

.hero .hero-container .hero-content .container .hero-content-footer {
  width: 100%;
  display: flex;
  align-items: flex-end;
}

.hero
  .hero-container
  .hero-content
  .container
  .hero-content-footer
  div:nth-child(1) {
  flex: 4;
}

.hero
  .hero-container
  .hero-content
  .container
  .hero-content-footer
  div:nth-child(2) {
  flex: 1;
}

.hero
  .hero-container
  .hero-content
  .container
  .hero-content-footer
  .hero-footer-copy
  p {
  width: 50%;
}

/* index - intro section */
.intro {
  position: relative;
  width: 100%;
  height: 100%;
  overflow: hidden;
}

.intro .container {
  display: flex;
  flex-direction: column;
}

.intro .container .stats-container {
  width: 100%;
  display: flex;
  gap: 1.5rem;
  margin-bottom: 5rem;
}

.intro .container .stats-container .stat {
  flex: 1;
  background-color: var(--base-300);
  border: 1px solid rgba(242, 238, 218, 0.15);
  border-radius: 0.5rem;
  padding: 1.5rem;
}

.intro .container .stats-container .stat .stat-copy {
  display: flex;
  flex-direction: column;
  gap: 3rem;
}

.intro .container .stats-container .stat .stat-copy .stats-copy-label {
  position: relative;
}

.intro .container .stats-container .stat .stat-copy .stats-copy-label p {
  margin-left: 1rem;
}

.intro .container .stats-container .stat .stat-copy .stats-copy-label::before {
  content: "";
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  width: 0.5rem;
  height: 0.5rem;
  border-radius: 50%;
  background: var(--base-500);
  display: inline-block;
}

.intro .container .intro-header {
  width: 50%;
  margin-bottom: 2.5rem;
}

.intro .container .intro-copy {
  width: 100%;
  display: flex;
  justify-content: flex-end;
  margin-bottom: 2.5rem;
}

.intro .container .intro-copy .intro-copy-wrapper {
  width: 70%;
}

.intro .container .intro-copy .intro-copy-wrapper h3 {
  color: var(--base-300);
}

.intro .container .intro-copy .intro-copy-wrapper h3 .char {
  display: inline-block;
  will-change: color;
}

/* index - featured missions header section */
.featured-missions-header {
  position: relative;
  width: 100vw;
  height: 100svh;
  padding: 1.5rem;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  overflow: hidden;
  z-index: -1;
}

.featured-missions-header h1 {
  color: var(--base-100);
  font-size: 20vw;
}

/* index - featured missions list section */
.featured-missions {
  width: 100%;
  padding: 7.5rem 1.5rem 15rem 1.5rem;
}

.featured-missions .featured-missions-list {
  width: 40%;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  gap: 7.5rem;
}

.featured-missions .featured-missions-list .featured-missions-item {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  gap: 1.5rem;
  background-color: var(--base-200);
  padding: 3rem 1.5rem;
  border-radius: 0.5rem;
}

.featured-missions .featured-missions-list .featured-missions-item h3,
.featured-missions .featured-missions-list .featured-missions-item p {
  color: var(--base-400);
}

.featured-missions .featured-missions-list .featured-missions-item p {
  font-weight: 600;
}

.featured-missions
  .featured-missions-list
  .featured-missions-item
  .featured-mission-item-img {
  aspect-ratio: 5/3;
  overflow: hidden;
  border-radius: 0.5rem;
}

/* index - cta section */
.cta {
  position: relative;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.cta .cta-content {
  position: absolute;
  top: 40%;
  left: 50%;
  width: 100%;
  transform: translate(-50%, -50%);
  display: flex;
  flex-direction: column;
  align-items: center;
}

.cta .cta-content .cta-logo {
  width: 150px;
  height: 150px;
  overflow: hidden;
  transform: scale(0);
}

.cta .cta-content .cta-copy {
  margin: 1.5rem 0 3rem 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 30%;
  padding: 1.5rem;
}

.cta .cta-content .cta-copy .line-mask {
  position: relative;
  overflow: hidden;
  display: flex;
  justify-content: center;
}

.cta .cta-content .cta-copy .line {
  position: relative;
  will-change: transform;
  color: var(--base-200);
}

.cta .cta-row {
  position: relative;
  width: 100%;
  max-width: 2000px;
  margin: 0.75rem 0;
  display: flex;
  justify-content: center;
  gap: 1.5rem;
  padding: 0 1.5rem;
  pointer-events: none;
}

.cta .cta-row .cta-card {
  position: relative;
  flex: 1;
  height: 360px;
  border-radius: 0.75em;
  will-change: transform;
  overflow: hidden;
  filter: url("#goo");
}

.cta .cta-row .cta-card .cta-card-frame {
  position: relative;
  width: 100%;
  height: 100%;
  background-color: var(--base-300);
  filter: url("#goo");
  clip-path: polygon(
    2rem 0px,
    calc(100% - 2rem) 0px,
    100% 2rem,
    100% calc(100% - 2rem),
    calc(100% - 2rem) 100%,
    2rem 100%,
    0px calc(100% - 2rem),
    0px 2rem
  );
}

.cta .cta-row .cta-card .cta-card-frame .cta-card-img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.cta .cta-row .cta-card .cta-card-frame .cta-card-img img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.cta .cta-row .cta-card .cta-card-frame .cta-card-gradient {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgb(0, 0, 0);
  background: linear-gradient(
    0deg,
    rgba(0, 0, 0, 0.65) 0%,
    rgba(0, 0, 0, 0) 100%
  );
  z-index: 1;
}

/* index - media queries */
@media (max-width: 1000px) {
  .hero .hero-container .hero-img-container,
  .cta .cta-row .cta-card .cta-card-frame {
    clip-path: none;
  }

  .hero .hero-container .hero-img-container .hero-img-overlay {
    display: none;
  }

  .hero .hero-container .hero-content .container {
    padding: 6rem 1rem 4rem 1rem;
    align-items: center;
    text-align: center;
  }

  .hero
    .hero-container
    .hero-content
    .container
    .hero-content-nav
    div:nth-child(1),
  .hero
    .hero-container
    .hero-content
    .container
    .hero-content-footer
    div:nth-child(1) {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .hero
    .hero-container
    .hero-content
    .container
    .hero-content-footer
    .hero-footer-copy
    p {
    width: 90%;
    margin: 0 auto;
  }

  .hero
    .hero-container
    .hero-content
    .container
    .hero-content-footer
    .hero-callout {
    display: none;
  }

  .intro .container .stats-container {
    flex-direction: column;
  }

  .intro .container {
    padding: 1rem;
  }

  .intro .container .intro-header {
    width: 75%;
  }

  .intro .container .intro-copy .intro-copy-wrapper {
    width: 100%;
  }

  .featured-missions {
    padding: 8rem 1rem;
  }

  .featured-missions .featured-missions-list {
    width: 100%;
    gap: 4.5rem;
  }

  .cta .cta-row .cta-card {
    height: 200px;
    border-radius: 0.5rem;
    opacity: 0;
  }

  .cta .cta-row .cta-card .cta-card-frame .cta-card-gradient {
    display: none;
  }

  .cta .cta-content .cta-copy {
    width: 100%;
  }
}
