/* interactive-grid */
.interactive-grid {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100svh;
  z-index: -1;
  pointer-events: none;
  overflow: hidden;
}

.interactive-grid .block {
  position: absolute;
  border: 0.5px solid var(--base-300);
  transition: border-color 0.3s ease;
  box-sizing: border-box;
  will-change: transform;
}

.interactive-grid .block.highlight {
  border-color: var(--base-500);
}
