/* nav */
nav {
  position: fixed;
  top: 1rem;
  left: 50%;
  transform: translateX(-50%);
  width: calc(100% - 2rem);
  max-width: 28rem;
  height: 2rem;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 2;
}

nav .nav-container {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  filter: url("#goo");
  z-index: -1;
}

nav .nav-bg {
  width: 100%;
  height: 100%;
  background-color: var(--base-500);
  clip-path: polygon(0 0, 100% 0, calc(100% - 1rem) 100%, 1rem 100%);
}

nav .nav-items {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

nav .nav-item a {
  display: block;
  padding: 0.5rem;
  text-align: center;
  font-weight: 600;
  color: var(--base-400);
}

nav .nav-mobile-header {
  width: 100%;
  justify-content: space-between;
  align-items: center;
  padding: 0 0.75rem;
  cursor: pointer;
  display: none;
}

nav .nav-mobile-header p {
  font-weight: 600;
  color: var(--base-400);
}

nav .nav-overlay {
  position: relative;
  display: flex;
  z-index: 1;
}

@media (max-width: 1000px) {
  nav {
    top: 2rem;
    width: calc(100% - 4rem);
  }

  nav .nav-bg {
    clip-path: none;
  }

  nav .nav-mobile-header {
    position: relative;
    height: 2rem;
    display: flex;
    z-index: 2;
  }

  nav .nav-overlay {
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    filter: url("#goo");
    margin-top: -1rem;
    z-index: 1;
  }

  nav .nav-overlay::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: var(--base-500);
    clip-path: polygon(0 0, 100% 0, 100% 0rem, 0 0rem);
    transition: clip-path 0.3s ease;
    z-index: -1;
  }

  nav .nav-items {
    position: relative;
    width: 100%;
    padding: 2rem 0 1rem 0;
    flex-direction: column;
    z-index: 2;
  }

  nav .nav-item {
    width: 100%;
    pointer-events: none;
  }

  nav.nav-open .nav-overlay::before {
    clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
  }

  nav.nav-open .nav-item {
    pointer-events: all;
  }
}

@media (min-width: 3000px) {
  nav .nav-item a {
    padding: 0.5rem 0.25rem;
  }
}
