/* preloader */
.preloader-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100svh;
  z-index: 9999;
  pointer-events: none;
  overflow: hidden;
}

.preloader-grid {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
}

.preloader-grid .preloader-block {
  position: absolute;
  background-color: var(--base-400);
  opacity: 1;
  box-sizing: border-box;
  will-change: opacity;
}

.preloader-animation-wrapper {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 1;
}

.preloader-text {
  position: absolute;
  bottom: 6rem;
  color: var(--base-100);
  animation: preloader-blink 1s ease-in-out infinite;
  animation-delay: 100ms;
  z-index: 2;
  opacity: 0;
}

@keyframes preloader-blink {
  0%,
  100% {
    opacity: 0.1;
  }
  50% {
    opacity: 1;
  }
}

.preloader-ring-frame,
.preloader-disc-frame {
  height: 100%;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
}

.preloader-ring {
  border: 2px solid rgba(0, 0, 0, 0);
  border-left: 2px solid var(--base-500);
  border-right: 2px solid var(--base-500);
  border-radius: 50%;
  display: flex;
  position: absolute;
}

.preloader-ring:nth-child(1) {
  animation: preloader-spin 1s linear infinite;
}

.preloader-ring:nth-child(2) {
  animation: preloader-spinner 1.5s linear infinite;
}

.preloader-ring:nth-child(3) {
  animation: preloader-spin 2s linear infinite;
}

.preloader-disc {
  height: var(--preloader-size);
  width: var(--preloader-size);
  border: 2px solid var(--base-500);
  border-radius: 50%;
  animation: preloader-rotate 3s linear infinite;
  position: absolute;
}

:root {
  --preloader-size: 150px;
}

@keyframes preloader-rotate {
  100% {
    transform: rotate3d(1, 0.25, 0.75, 360deg);
  }
}

@keyframes preloader-spin {
  to {
    transform: rotateZ(360deg);
  }
}

@keyframes preloader-spinner {
  to {
    transform: rotateZ(-360deg);
  }
}
