/* transition-grid  */
.transition-grid {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  pointer-events: none;
  z-index: 1000;
  overflow: hidden;
}

.transition-block {
  position: absolute;
  background-color: var(--base-400);
  opacity: 0;
}
